* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.image-section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right text section */
.text-section {
    width: 60%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
    background-color: white;
}

.intro {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.name {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Small divider image */
.divider-image {
    margin-bottom: 20px;
    text-align: left;
}

.divider-image img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* About text */
.about {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}


/* mobile version */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .image-section {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .image-section img {
        width: 160px;
        /* 👈 Medium size */
        height: 160px;
        object-fit: cover;
        /* 👈 Crop inside circle */
        border-radius: 50%;
        /* 👈 Circle profile pic look */
    }

    .text-section {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .divider-image{
        margin: 20px auto;
        text-align: center;
    }

    .name {
        font-size: 32px;
    }

    .about {
        font-size: 15px;
    }

    .divider-image img {
        width: 40px;
        height: 40px;
    }
}